Repository cowprotocol/explorer, pull requests merged in 2022-09, with the labels that each got.

#211 [Tokens Table] Change query to use tokenHourlyTotals for tokens table
  src/hooks/useGetTokens.ts
Labels: Enhancement

#204 [App Data] Add more context
  src/apps/explorer/pages/AppData/DecodePage.tsx
  src/apps/explorer/pages/AppData/EncodePage.tsx
  src/apps/explorer/pages/AppData/config.tsx
  src/apps/explorer/pages/AppData/index.tsx
  src/apps/explorer/pages/AppData/styled.ts
  src/components/common/AppDataWrapper/index.tsx
  src/components/common/Tabs/Tabs.tsx
Labels: Enhancement, Protofire

#209 [Appdata] json section position
  src/apps/explorer/pages/AppData/styled.ts
Labels: app:Explorer, Bug, Protofire

#186 New Menu
  src/apps/explorer/const.ts
  src/apps/explorer/layout/Header.tsx
  src/apps/explorer/styled.ts
  src/assets/img/CowProtocol-logo.svg
  src/assets/img/carret-down.svg
  src/assets/img/code.svg
  src/assets/img/discord.svg
  src/assets/img/doc.svg
  src/assets/img/info.svg
  src/assets/img/pie.svg
  src/components/common/LinkWithPrefixNetwork/index.tsx
  src/components/common/MenuDropdown/InternalExternalLink.tsx
  src/components/common/MenuDropdown/MainMenuTree.stories.tsx
  src/components/common/MenuDropdown/MenuDropdownItem.stories.tsx
  src/components/common/MenuDropdown/MenuTree.tsx
  src/components/common/MenuDropdown/MobileMenuIcon/index.tsx
  src/components/common/MenuDropdown/index.tsx
  src/components/common/MenuDropdown/mainMenu.ts
  src/components/common/MenuDropdown/styled.ts
  src/components/common/MenuDropdown/types.ts
  src/components/layout/GenericLayout/Header/index.tsx
  src/components/layout/GenericLayout/variablesCss.ts
  src/theme/styles/colours.ts
  src/utils/mediaQueries.ts
  src/utils/toggleBodyClass.ts
Labels: app:Explorer, Protofire

#218 UI improvements for Release 2.13.0
  src/apps/explorer/pages/AppData/styled.ts
  src/components/common/MenuDropdown/InternalExternalLink.tsx
  src/components/common/MenuDropdown/MenuTree.tsx
  src/components/common/MenuDropdown/index.tsx
  src/components/common/MenuDropdown/styled.ts
  src/theme/styles/index.ts
  src/theme/styles/reset.ts
Labels: app:Explorer, Bug, Protofire

#213 [Tokens Table] Sort by 24h volume
  src/apps/explorer/components/TokensTableWidget/index.tsx
  src/apps/explorer/components/common/TextWithTooltip/index.tsx
  src/components/token/TokenTable/index.tsx
  src/hooks/useGetTokens.ts
Labels: Enhancement

#214 Release v2.13.0
  package.json
  src/api/operator/operatorApi.ts
  src/apps/explorer/const.ts
  src/apps/explorer/layout/Header.tsx
  src/apps/explorer/pages/AppData/DecodePage.tsx
  src/apps/explorer/pages/AppData/EncodePage.tsx
  src/apps/explorer/pages/AppData/config.tsx
  src/apps/explorer/pages/AppData/index.tsx
  src/apps/explorer/pages/AppData/styled.ts
  src/apps/explorer/styled.ts
  src/assets/img/CowProtocol-logo.svg
  src/assets/img/carret-down.svg
  src/assets/img/code.svg
  src/assets/img/discord.svg
  src/assets/img/doc.svg
  src/assets/img/info.svg
  src/assets/img/pie.svg
  src/components/common/AppDataWrapper/index.tsx
  src/components/common/LinkWithPrefixNetwork/index.tsx
  src/components/common/MenuDropdown/InternalExternalLink.tsx
  src/components/common/MenuDropdown/MainMenuTree.stories.tsx
  src/components/common/MenuDropdown/MenuDropdownItem.stories.tsx
  src/components/common/MenuDropdown/MenuTree.tsx
  src/components/common/MenuDropdown/MobileMenuIcon/index.tsx
  src/components/common/MenuDropdown/index.tsx
  src/components/common/MenuDropdown/mainMenu.ts
  src/components/common/MenuDropdown/styled.ts
  src/components/common/MenuDropdown/types.ts
  src/components/common/Tabs/Tabs.tsx
  src/components/layout/GenericLayout/Header/index.tsx
  src/components/layout/GenericLayout/variablesCss.ts
  src/components/token/TokenTable/index.tsx
  src/hooks/useGetTokens.ts
  src/theme/styles/colours.ts
  src/theme/styles/index.ts
  src/theme/styles/reset.ts
  src/utils/env.ts
  src/utils/mediaQueries.ts
  src/utils/toggleBodyClass.ts
  yarn.lock
Labels: app:Explorer, Protofire, RELEASE

#223 Update develop branch with Release v2.13.0
  package.json
  src/apps/explorer/const.ts
  src/apps/explorer/pages/AppData/EncodePage.tsx
  src/apps/explorer/pages/AppData/styled.ts
  src/components/common/MenuDropdown/InternalExternalLink.tsx
  src/components/common/MenuDropdown/MenuTree.tsx
  src/components/common/MenuDropdown/index.tsx
  src/components/common/MenuDropdown/styled.ts
  src/hooks/useGetTokens.ts
  src/theme/styles/index.ts
  src/theme/styles/reset.ts
Labels: app:Explorer, Protofire

#228 Inter var font improvements
  src/apps/explorer/pages/AppData/styled.ts
  src/components/NetworkSelector/NetworkSelector.styled.ts
  src/theme/styles/global.ts
Labels: app:Explorer, Enhancement, Medium, Protofire
