Repository cowprotocol/explorer, pull requests merged in 2022-05, with the labels that each got.

#73 add access button to the BV
  src/components/orders/DetailsTable/index.tsx
Labels: app:Explorer, Enhancement, Protofire

#79 [Batch Viewer] Update network box label
  src/apps/explorer/components/TransanctionBatchGraph/index.tsx
Labels: Protofire

#49 Adding useQuery search URL params hook
  package.json
  src/apps/explorer/components/OrdersTableWidget/index.tsx
  src/apps/explorer/components/TransactionsTableWidget/index.tsx
  src/apps/explorer/components/TransanctionBatchGraph/elementsBuilder.tsx
  src/apps/explorer/components/TransanctionBatchGraph/index.tsx
  src/apps/explorer/components/common/ExplorerTabs/ExplorerTabs.stories.tsx
  src/apps/explorer/components/common/ExplorerTabs/ExplorerTabs.tsx
  src/apps/explorer/pages/styled.tsx
  src/apps/gp-v1/components/TradeWidget/index.tsx
  src/components/common/Tabs/TabIcon.tsx
  src/components/common/Tabs/Tabs.tsx
  src/components/orders/DetailsTable/index.tsx
  src/env.d.ts
  src/hooks/useQuery.ts
  yarn.lock
Labels: app:Explorer, Protofire

#80 Loading improvements
  package.json
  src/apps/explorer/components/OrdersTableWidget/OrdersTableWithData.tsx
  src/apps/explorer/components/TransactionsTableWidget/TransactionsTableWithData.tsx
  src/apps/explorer/components/TransactionsTableWidget/index.tsx
  src/apps/explorer/components/TransanctionBatchGraph/index.tsx
  src/apps/explorer/pages/UserDetails.tsx
  src/apps/explorer/pages/styled.tsx
  src/assets/img/cowLoading.svg
  src/components/common/CowLoading.stories.tsx
  src/components/common/CowLoading.tsx
  src/components/orders/OrderDetails/index.tsx
  yarn.lock
Labels: app:Explorer, Protofire

#84 Adding class to edges with one more same direction
  src/apps/explorer/components/TransanctionBatchGraph/elementsBuilder.tsx
  src/apps/explorer/components/TransanctionBatchGraph/index.tsx
  src/apps/explorer/components/TransanctionBatchGraph/styled.ts
Labels: app:Explorer, Protofire

#77 Integrate the cow-sdk into the Home Page widgets
  src/apps/explorer/components/SummaryCardsWidget/SummaryCards.tsx
  src/apps/explorer/components/SummaryCardsWidget/VolumeChart/VolumeChart.stories.tsx
  src/apps/explorer/components/SummaryCardsWidget/VolumeChart/VolumeChart.styled.ts
  src/apps/explorer/components/SummaryCardsWidget/VolumeChart/VolumeChart.tsx
  src/apps/explorer/components/SummaryCardsWidget/VolumeChart/VolumeChartWidget.tsx
  src/apps/explorer/components/SummaryCardsWidget/VolumeChart/useGetVolumeData.ts
  src/apps/explorer/components/SummaryCardsWidget/VolumeChart/volumeData.json
  src/apps/explorer/components/SummaryCardsWidget/index.tsx
  src/apps/explorer/components/SummaryCardsWidget/summaryData.json
  src/apps/explorer/components/SummaryCardsWidget/summaryGraphResp.json
  src/apps/explorer/components/SummaryCardsWidget/useGetSummaryData.ts
  src/apps/explorer/components/SummaryCardsWidget/utils.ts
  src/apps/explorer/components/SummaryCardsWidget/volumeData.json
Labels: Protofire

#86 Update develop branch with release/v2.8.0
  .github/workflows/ci.yml
  .travis.yml.deprecated
  README.md
  package.json
  src/apps/explorer/components/TransanctionBatchGraph/elementsBuilder.tsx
  src/apps/explorer/components/TransanctionBatchGraph/index.tsx
  src/apps/explorer/components/TransanctionBatchGraph/styled.ts
  src/hooks/useTokenBalances.ts
  webpack.config.js
Labels: app:Explorer, Auto-merge, Protofire

#81 [Home Page] Add Tokens Table
  package.json
  src/api/operator/types.ts
  src/apps/explorer/components/OrdersTableWidget/OrdersTableWithData.tsx
  src/apps/explorer/components/OrdersTableWidget/context/OrdersTableContext.tsx
  src/apps/explorer/components/OrdersTableWidget/index.tsx
  src/apps/explorer/components/TokensTableWidget/TokensTableWithData.tsx
  src/apps/explorer/components/TokensTableWidget/context/TokensTableContext.tsx
  src/apps/explorer/components/TokensTableWidget/index.tsx
  src/apps/explorer/components/TokensTableWidget/useTable.tsx
  src/apps/explorer/components/common/ExplorerTabs/ExplorerTabs.tsx
  src/apps/explorer/components/common/TablePagination/index.tsx
  src/apps/explorer/pages/Home/index.tsx
  src/apps/explorer/styled.ts
  src/components/common/StyledUserDetailsTable.tsx
  src/components/common/TableSearch/TableSearch.tsx
  src/components/common/Tabs/Tabs.tsx
  src/components/token/TokenTable/index.tsx
  src/data/tokens.ts
  src/hooks/useFlexSearch.ts
  src/hooks/useGetTokens.ts
  src/theme/styles/colours.ts
  yarn.lock
Labels: Enhancement, Protofire

#89 Volume chart improvements
  src/apps/explorer/components/SummaryCardsWidget/VolumeChart/VolumeChart.styled.ts
  src/apps/explorer/components/SummaryCardsWidget/VolumeChart/VolumeChart.tsx
  src/apps/explorer/components/SummaryCardsWidget/VolumeChart/VolumeChartWidget.tsx
Labels: app:Explorer, Protofire

#90 Volume chart and cards layout
  src/apps/explorer/components/SummaryCardsWidget/SummaryCards.tsx
  src/apps/explorer/components/SummaryCardsWidget/VolumeChart/VolumeChart.styled.ts
  src/apps/explorer/components/SummaryCardsWidget/VolumeChart/VolumeChart.tsx
  src/apps/explorer/components/SummaryCardsWidget/VolumeChart/VolumeChartWidget.tsx
  src/apps/explorer/components/SummaryCardsWidget/useGetSummaryData.ts
  src/apps/explorer/components/TokensTableWidget/index.tsx
  src/apps/explorer/pages/Home/index.tsx
  src/apps/explorer/pages/styled.tsx
  src/components/common/Card/Card.tsx
Labels: app:Explorer, Protofire

#88 Small Code typing improvement
  src/apps/explorer/components/common/Search/index.tsx
  src/const.ts
  src/services/helpers/tryGetOrderOnAllNetworks.ts
Labels: app:Explorer, Low, Protofire

#99 Adding surplus column on tx table
  src/components/Tooltip.tsx
  src/components/orders/OrderSurplusDisplay/index.tsx
  src/components/orders/OrdersUserDetailsTable/OrderSurplusTooltipStyledByRow.tsx
  src/components/orders/OrdersUserDetailsTable/index.tsx
  src/components/transaction/TransactionTable/index.tsx
  src/components/transaction/TransactionTable/styled.ts
  src/hooks/useGetMatchingScreenSize.tsx
  src/hooks/useMediaBreakPoint.tsx
  src/utils/mediaQueries.ts
Labels: app:Explorer, Protofire
