Repository cowprotocol/explorer, pull requests merged in 2022-04, with the labels that each got.

#51 Release v2.7.0
  package.json
Labels: app:Explorer, Protofire

#54 Update develop branch with release/v2.7.0
  package.json
Labels: app:Explorer, Protofire

#50 Adding statistics SummaryCards component
  src/apps/explorer/components/SummaryCardsWidget/SummaryCards.tsx
  src/apps/explorer/components/SummaryCardsWidget/index.tsx
  src/apps/explorer/components/SummaryCardsWidget/summaryGraphResp.json
  src/apps/explorer/components/common/ShimmerBar/index.tsx
  src/apps/explorer/pages/Home/index.tsx
  src/components/common/Card/Card.tsx
  src/components/common/Card/CardContent.tsx
  src/components/common/CardRow/CardRow.stories.tsx
  src/components/common/CardRow/index.tsx
  src/hooks/useGetMatchingScreenSize.tsx
  src/hooks/useMediaBreakPoint.tsx
  src/theme/styles/global.ts
  src/utils/mediaQueries.ts
Labels: app:Explorer, Auto-merge, Protofire

#67 Homepage cards: 'Fees' uppercase
  src/apps/explorer/components/SummaryCardsWidget/SummaryCards.tsx
Labels: app:Explorer, Auto-merge, Bug, Low, Protofire

#68 Add a copy button and navigation to the last batch
  src/apps/explorer/components/SummaryCardsWidget/SummaryCards.tsx
  src/components/common/Card/CardContent.tsx
  src/components/common/CopyButton/index.tsx
  src/components/common/RowWithCopyButton/index.tsx
  src/components/orders/OrdersUserDetailsTable/index.tsx
  src/components/transaction/TransactionTable/index.tsx
Labels: app:Explorer, Protofire

#53 Update repositories URL and chat support
  src/apps/explorer/layout/Header.tsx
  src/components/layout/GenericLayout/Footer/config.ts
  src/components/orders/OrderNotFound/index.tsx
Labels: app:Explorer, Auto-merge, Protofire

#62 [Home Page] Volume chart
  package.json
  src/apps/explorer/components/SummaryCardsWidget/SummaryCards.tsx
  src/apps/explorer/components/SummaryCardsWidget/VolumeChart.stories.tsx
  src/apps/explorer/components/SummaryCardsWidget/VolumeChart.styled.ts
  src/apps/explorer/components/SummaryCardsWidget/VolumeChart.tsx
  src/apps/explorer/components/SummaryCardsWidget/VolumeChartWidget.tsx
  src/apps/explorer/components/SummaryCardsWidget/index.tsx
  src/apps/explorer/components/SummaryCardsWidget/volumeData.json
  src/apps/explorer/components/common/ShimmerBar/index.tsx
  src/apps/explorer/styled.ts
  src/assets/img/graph-skeleton.svg
  src/components/common/Card/CardContent.tsx
  src/components/common/Card/card.utils.ts
  yarn.lock
Labels: app:Explorer, Auto-merge, Protofire

#56 [Explorer] Cow SDK integration
  package.json
  src/api/deposit/batchExchangeAddresses.ts
  src/api/operator/constants.ts
  src/api/operator/index.ts
  src/api/operator/operatorApi.ts
  src/api/operator/types.ts
  src/api/tenderly/tenderlyApi.ts
  src/api/tokenList/index.ts
  src/api/tokenList/tokenList.ts
  src/api/wallet/WalletApiMock.ts
  src/api/web3/index.ts
  src/api/weth/WethApi.ts
  src/apps/explorer/const.ts
  src/apps/gp-v1/components/TradeWidget/index.tsx
  src/components/NetworkSelector/index.tsx
  src/components/TokenSelector.tsx
  src/components/common/BlockExplorerLink/BlockExplorerLink.stories.tsx
  src/components/common/BlockExplorerLink/BlockExplorerLink.tsx
  src/components/common/TokenDisplay/TokenDisplay.stories.tsx
  src/components/layout/GenericLayout/Footer/index.tsx
  src/components/order-book/OrderBookBtn.tsx
  src/components/order-book/OrderBookChart.tsx
  src/components/order-book/OrderBookWidget.stories.tsx
  src/components/orders/DetailsTable/DetailsTable.stories.tsx
  src/components/orders/FilledProgress/FilledProgress.stories.tsx
  src/components/orders/OrderSurplusDisplay/OrderSurplusDisplay.stories.tsx
  src/components/orders/OrdersUserDetailsTable/index.stories.tsx
  src/components/transaction/TransactionTable/index.stories.tsx
  src/const.ts
  src/data/quoteTokenPriorities.ts
  src/hooks/useErc20.ts
  src/hooks/useGetOrders.tsx
  src/hooks/useWalletConnection.ts
  src/services/factories/getPriceEstimation.ts
  src/services/factories/tokenList.ts
  src/services/helpers/tryGetOrderOnAllNetworks.ts
  src/state/network/hooks.ts
  src/state/network/updater.tsx
  src/storybook/data/network.ts
  src/storybook/decorators.tsx
  src/types/config.ts
  src/types/index.ts
  src/utils/miscellaneous.ts
  src/utils/operator.ts
  src/utils/url.ts
  src/utils/walletconnectOptions.ts
  src/utils/wrap.ts
  test/api/ExchangeApi/TokenListApiMock.test.ts
  test/components/BlockExplorerLink.components.test.tsx
  test/components/DepositWidget.components.test.tsx
  test/config.spec.ts
  test/data/operator.ts
  test/services/tryGetOrderOnAllNetworks.test.ts
  test/utils/operator/orderFilledAmount.test.ts
  test/utils/operator/orderPrice.test.ts
  test/utils/operator/orderStatus.test.ts
  test/utils/operator/orderSurplus.test.ts
  test/utils/url.spec.ts
  yarn.lock
Labels: Enhancement, Protofire
